# Build
bin/
obj/

# VS/JetBrains
.vs/
.idea/

# OS
.DS_Store

# User files
*.user
*.suo

# Rider
*.sln.iml

# Logs
*.log

# Coverage
coverage/
TestResults/

# Node (if frontend later)
node_modules/

# Secrets
*.env
secrets.json
